[submodule "Walkway"]
	path = Walkway
	url = https://github.com/houhaol/PersonStepMat.git
[submodule "Gaze"]
	path = Gaze
	url = https://github.com/houhaol/EyeTrackingSam.git
[submodule "Physiology"]
	path = Physiology
	url = https://github.com/houhaol/Physiological_Saliency_Detection.git
